*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url('../image/06.jpg');
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
   
    font-family: sans-serif;
}
.menu-bar
{
    background-color: chartreuse;
    text-align: center;
}
.menu-bar ul
{
       display: inline-flex;
       list-style: none;
       color: #fff;
}

.menu-bar ul li
{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: rgb(72, 9, 245);
}

.active,  .menu-bar ul li:hover
{
    background: #2bab0d;
    border-radius: 3px;
}
.menu-bar .fa
{
    margin-right: 8px;
}
.sub-menu-1
{
    display: none;
}

.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background: chartreuse;
    margin-top: 15px;
    margin-left: 15px;
}

.menu-bar ul li:hover .sub-menu-1 ul
{
      display: block;
      margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;

}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color:#e77811;
}

.fa-angle-right

{
    float: right;
}


















